<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="default.html" />
            </files>
        </defaultDocument>
    </system.webServer>
    <appSettings>
        <add key="ColorName" value="bcRED" />
        <add key="ColorCode" value="#CB0538" />
    </appSettings>
</configuration>
